<div class="polaroid <perch:content id="polaroid-class" type="select" label="Polaroid Type" options="Type 1|g-1, Type 2|g-2, Type 3|g-3" allowempty="false" required="true" supress="true" help="Select the style of polaroid. Each has diffeernt sticky tape, Type and 3 are rotated clockwise, Type 1 anti-clockwise." />">	

	<span class="sticky tape"></span>

	<div class="drop-shadow">
		
		<img class="u-full-width" src="<perch:content type="image" id="image" width="425" density="2" label="Image" />" alt="<perch:content type="text" id="alt" label="Description" help="This image will display as a polariod style." title="true" />" />

	</div>

</div>


