<perch:before>

<div class="row">

  <div class="twelve columns inset-white">

		<ul class="rslides" id="slider1">
</perch:before>

			<li><img class="u-full-width" src="<perch:content type="image" id="slideshow-image" label="Slideshow Image" width="885" density="2" bucket="slideshow-images" />" alt="<perch:content type="text" id="alt" label="Description"  help="Alt text for slide show image, make it descriptive" title="true" />" /></li>

<perch:after>
		</ul>

	</div>

</div>

</perch:after>


