<div class="row">

  <div class="twelve columns inset-white">
	  
	  <div class="six columns">
		  
		  <h1 class="handwritten"><perch:content id="page-title" type="text" label="Page Title" required="true" title="true" /></h1>
		  
		  <perch:content id="page-copy" type="textarea" label="Text" markdown="true" editor="markitup" imagewidth="640" imageheight="480" />
		  
	  </div>
	  
	  <div class="six columns">	  
    
    	<img class="u-full-width" src="<perch:content type="image" id="full-width-image" label="Full Width Image" help="Image that spans the full content area width" />" alt="<perch:content type="text" id="alt" label="Description" required="true" help="Alt text for image, make it descriptive" title="true" />" />
    	
	  </div>
	
	</div>

</div>

