<h2><perch:gallery id="albumTitle" type="text" label="Title" size="l" /></h2>

<perch:gallery id="category" type="select" label="Category" options="Bespoke|bespoke, What's New|whats-new, New Season|new-season" allowempty="false" required="true" suppress="true" />

<perch:gallery id="description" type="textarea" label="Description" editor="markitup" textile="true" order="1" size="m" help="Only needed for Bespoke and What's New albums." />

<perch:gallery id="albumImage" type="image" key="album" bucket="gallery-images" label="Album Image" help="Only needed for Bespoke and What's New albums. Image is shown to the right of the title on the page." />