<div class="row">

  <div class="twelve columns inset-white">
	  
	  <div class="six columns">
		  
		  <h1 class="handwritten"><perch:gallery id="albumTitle" /></h1>
		  
		  <perch:gallery id="description" type="textarea" />
		  
	  </div>
	  
	  <div class="six columns">	  
    
	    <div class="polaroid g-1">	

				<span class="sticky tape"></span>

				<div class="drop-shadow">
					
					<img class="u-full-width" src="<perch:gallery id="albumImage" />" />

				</div>

			</div>

	  </div>
	
	</div>

</div>